#jsoxford {

  width:500px;
  height:500px;

  polygon, path, g {
    transition: all 1s;
  }

}


.jo-standard-horse {
  transform: translate(-300px, 0);

  .on &{
    transform: translate(0);
  }
}


/* white bars */
.jo-wbar-1, .jo-wbar-2 {
  transform-origin: 0 800px;
  opacity: 0;

  .on &{
    transform: none;
    opacity: 0.9;
  }
}

.jo-wbar-1 {
  transform: rotate(-30deg);
}

.jo-wbar-2 {
  transform: rotate(30deg);
}


/* color bars top */
.jo-cbar-1, .jo-cbar-2 {
  transform-origin: 257px 175px;
  opacity: 0;

  .on &{
    transform: none;
    opacity: 1;
  }
}

.jo-cbar-1 {
  transform: rotate(-40deg);
}

.jo-cbar-2 {
  transform: rotate(10deg);
}


/* color bars bottom */
.jo-cbar-3, .jo-cbar-4, .jo-cbar-5 {
  transform-origin: 257px 175px;
  opacity: 0;

  .on &{
    transform: none;
    opacity: 1;
  }
}

.jo-cbar-3 {
  transform: rotate(-40deg);
}

.jo-cbar-4 {
  transform: rotate(10deg);
}

.jo-cbar-5 {
  transform: rotate(-10deg);
}


#woLogo {

  width:500px;
  height:289px;

  polygon, path, g {
    transition: all .5s;
    transform-origin: 50%;
  }

}

